@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4" style="z-index:1;">
        <a href="https://www.blueelm.com" target="_blank">About Blue Elm Company</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
